*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Larke;
}


 /*WHOLE WEBSITE SIDE PADDING*/ 
 section{
    padding: 5% 5%;
 }
 .TopMessage{
    background-color: #ffffff;
    align-self: center;
    align-items: center;
    font-weight: 600;
 }
 
/*MPWR*/
header .brand{
    color: white;
    font-size: 1.8em;  
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 37%;
   /* padding: 20px 5%;*/
 
}

header .navigation{
    display: flex;

}

header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1,1,1,0.5);
}

/*MPWR,LOGIN,SEARCH*/
header{
    position: fixed;
    width: 100%;
    top: 0;
   /* right: 0;*/
    z-index: 1000;
    transition: all;
    display: flex;
   /* align-items: center;*/
    justify-content: space-between;
    padding: 30px 5%;
    z-index: 99;
    cursor: pointer;
    background-color: #000000;
    
}

.logo img{
    max-width: 250px;
    height: auto;
    margin-left: 420px;
}

/*black bar on Nav when you scroll*/
header.sticky{
    background: #000000a4;
    padding: 30px 5%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
}

header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;

}

.navmenu{
    display: flex;
}


.navmenu a{
    color: #e41818;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    color: #a3e584;
}



.nav-icon{
    display: flex;
    align-items: center;
}

.nav-icon i{
    margin-right: 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover{
    transform: scale(1.1);
    color: #E5A484;
}

#menu-icon {
font-size: 35px;
color: #ffffff;
z-index: 10001;
cursor: pointer;
}

/*Shop Button*/
.main-btn{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #ffffff;
    padding: 12px 25px;
    transition: all .42s ease;
}

/*Shop Button When clicked*/
.main-btn:hover{
    background-color: #E5A484;
    color: #fff;
}

.main-btn i {
    vertical-align: middle;
}

/*circle and arrow position together*/
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}


/*circle around the arrow*/
.down i{
    font-size: 20px;
    color:#00000088;
    /*border: 2px solid #00000088;*/
    border-radius: 50px;
    padding: 12px 20px;

}
    
/*Circle around the arrow*/
.down i:hover{
    background-color: #00000088;
    color: #fff;
    transition: all .2s ease;
}
    
 
/*navigation when you stretch*/
header .navigation.active .navigation-items{
    background:#000000a4;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

/*Login, Search, Cart*/
header .navigation .navigation-items a{
    position: relative;
    color: white;
    font-size: 1.2em;
    font-weight: 550;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

/*Lines under*/
header .navigation .navigation-items a:before{
    content:'';
    position: absolute;
    background: #E5A484;
    width: 0;
    height:3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;

}

section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:  #0000006e;
    transition: 1s ease;
}


/*The Black layering over everything
.home :before{
z-index: 777;
content: '';
position: absolute;
background: rgba(56, 56, 56, 0.158);
width: 100%;
height:100%;
top: 0;
left:0;
}*/

.btn{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #ffffff;
    padding: 12px 25px;
    transition: all .42s ease;
}

.home .video-slide{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider-navigation{
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;

}

/*The slider balls*/
.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #0000007c;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}
/*Active slider balls*/
.slider-navigation .nav-btn.active{
    background:  #ffffff;
}

/* space btwn the 4 slider balls*/
.slider-navigation .nav-btn:not(:last-child){
margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}


.home .content{
    z-index: 10;
    color: #fff;
    width: 70%;
    margin-top: 40px;
    display: none;
}

/*Different Slides*/
.home .content.active{
 display: block;
}

/*PressOn Nails..*/
.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
    z-index: 10;
}

/*PressOn Nails SPAN*/
.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
    color: #E5A484;
    
}


/*Paragragh position*/
.home .content p{
    margin-bottom: 65px;
}


/*shop button*/
.home .content a{
    background: #fff;
    padding: 15px 35px;
    color:  #000000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    z-index: 10;

}



/*Shop When Clicked*/
.home .content a:hover{
    background: #E5A484;
    color: #ffffff;
    border: #E5A484;
}



/*Social Media*/
.home .media-icons{
    z-index: 99;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;

}

.home .media-icons a{
    color: #fff;
    font-size:1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

/*Transition*/
.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

/*transition animation*/
.video-slide.active{
clip-path: circle(150% at 0 50%);
/*transition: 1s ease;*/
transition-property: clip-path;

}

/*RESPONSIVE*/
@media (max-width: 1040px){
    header{
    padding: 12px 20px;
    
}

section {
    padding: 100px 20px;
}

.home .media-icons{
    right: 25px;
}
/*
header .navigation {
    display: none;
}

/*.menu-btn{
    background: url('./Cart\ white.png') no-repeat;
    background-size: 30px;
    *background-position: center;
    padding-left: 5%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-btn.active{
    z-index: 999;
    background: url(./Close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
}*/
/*

.icon2-cart{
    background: url('./Cart\ white.png') no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.icon2-cart.active{
    z-index: 999;
    background: url(./Close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
}
*/
.content{
    z-index: 888;
    color: #fff;
    width: 70%;
}

header{
    padding: 50px 5%;
}

/*TITLE* Position*/
header .brand{
    padding-left: 10%;
}


header.sticky {
    padding: 50px 5%;
}
}
 @media screen and (max-width: 992px) {
            .home .content h1{
                font-size: 2.6em;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 5px;
                line-height: 75px;
                margin-bottom: 40px; 
                width: 50px;
            }

        }
    @media screen and (max-width: 768px) {
        .home .content h1{
            font-size: 2.6em;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 75px;
            margin-bottom: 40px; width: 50px;
    }
}

/*header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.1s ease;
}*/