
    body{     
    font-family: Larke;
    margin: 0;
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

/*Shopping Cart Icon*/
.svg{
    width: 30px;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


/*The Circle on the cart*/
header .icon-cart {
    position: relative;
}


/*The Circle on the cart*/
header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}


/*Catalog images*/
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #000900);
}


/*Space between products*/
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/*Box around product*/
.listProduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}


/*Product Title*/
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}


/*Product Price*/
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}


/*Add to Cart Button*/
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor:pointer;
}


/* Cart background*/
.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;   
}


/*Cart Pull out*/
body.showCart .cartTab{
    inset: 0 0 0 auto;
}


/*Cart pull Out Motion Effect*/
body.showCart .container{
    transform: translateX(-250px);
}


/*Shopping Cart Title*/
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}


/*Cart Buttons*/
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/*Cart Buttons design*/
.cartTab .btn button{
    background-color: aqua;
    border: none;
    font-size: Larke;
    font-weight: 500;
    cursor: pointer;
}


/*CLose button in cart*/
.cartTab .btn .close{
    background-color: #eee;
}


/*The product images in cart*/
.cartTab .listCart .item img{
    width: 100%
}


/*The product details in cart*/
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}


/*Circles around the arrows in cart*/
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}


/*The number of an item in the cart*/
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}


/*Color bg of every other item in cart*/
.listCart .item:nth-child(even){
    background-color: #eee1;
}


/*scroll bar for cart*/
.listCart{
    overflow: auto;
}


/*hidding scrollbar*/
.listCart::-webkit-scrollbar{
    width: 0;
}


@media screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 768px){
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}
